body{
    background-color: #e8e8e8;
}

main {
    margin: 120px 0 0 290px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

ul > li {
    font-size: 20px;
    margin: 0 0 15px 0;
    color: #273d46;
    background: url(../IMG/check_icon.png) 0 0 no-repeat;
    padding: 0 0 0 35px;
}
ul > li:first-child{
    margin: 25px 0 15px;
    text-decoration: line-through;
}
ul > li:nth-child(2) {
    font-weight: 700;
}
ul > li:nth-child(3) {
    font-style: italic;
}
ul > li:last-child{
    text-transform: uppercase;
    font-weight: 400;
}
ul > li:hover {
    background: url(../IMG/check_icon_hover.png) 0 0 no-repeat;
    color: #d55a5a;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
}

a{
    background: url(../IMG/btn.png) 150px 50% no-repeat;
    background-color: #80b7b3;
    display: inline-block;
    width: 200px;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    border-radius: 22.5px;
    letter-spacing: 2.8px;
    line-height: 45px;
    padding: 0 0 0 30px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    margin: 140px 0 125px 0;
}
a:hover {
    background-color: #3a5856;
}
a:active {
    background-color: #818181;
    box-shadow: none;
}

input {
    display: block;
    width: 290px;
    height: 50px;
    border: 1px solid #b0b0b0;
}
input:focus {
    border: 1px solid #7fbed5;
    box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
}